{% extends 'base.html' %}
{% block title %} Service Alerts {% endblock %}
{% block content%}
<main class="d-inline-flex p-5 align-items-end">
    <div class="container my-5">
        <div class="row justify-content-center text-center">
            <h3> Live Machine Status</h3>
          <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Date of Last Update</th>
                    <th> Notes</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in machines %}
                    <tr><td>{{machine['machine_id']}}</td>
                        <td>{{machine['name']}}</td>
                        <td>{{machine['type']}}</td>
                        <td>{{machine['status']}}</td>
                        <td>{{machine['last_update']}}</td>
                        <td>{% if machine['notes']%}
                                {{machine['notes']}}
                            {% else %}
                            -
                            {% endif %}</td>
                        <td><a class="btn btn-primary" href="{{url_for('edit_machine', machine_id=machine['machine_id'])}}"> Edit</a></td>
                        <td><a class="btn btn-danger" href="{{url_for('delete_machine', machine_id=machine['machine_id'])}}" onclick="return confirmDelete()"> Delete</a></td>

                    </tr>
                {% endfor %}
            </tbody>
          </table>
          <br>
          <br>

          <div class="row justify-content-center">
<br>

            <div class="col-3">
                <a class="btn btn-secondary" href="{{url_for('add_machine')}}"> Add a Machine</a>          </div>

            </div>
        </div>
    </div>       
</main>

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this machine? This CANNOT be undone.");
    }
</script>

{% endblock %}