{% extends 'base.html' %}
{% block title %} Proof of Concept {% endblock %}
{% block content%}
<main class="d-inline-flex p-5 align-items-end">
    <div class="container my-5">
        <div class="text-center">
            <h1 class="display-4 font-weight-bold">TMHNA Proof of Concept</h1>
        </div>
        <br>
        <br>

        <div class="row justify-content-center text-center">
            <div class="col-4">
                <a href="{{ url_for('profile') }}" class="btn btn-primary btn-lg w-100 shadow">
                    <i style='position:relative; right:5px;top:2px;' class="fas fa-user mr-2"></i> <b>Your Profile</b>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('projects') }}" class="btn btn-primary btn-lg w-100 shadow">
                    <i style='position:relative; right:5px;top:2px;' class="fas fa-globe mr-2"></i> <b>Company Projects</b>
                </a>
            </div>
        </div>
        <br>
        <div class="row justify-content-center text-center">
            <div class="col-4"> 
                <a href="{{ url_for('alerts') }}" class="btn btn-primary btn-lg w-100 shadow">
                    <i style='position:relative; right:5px;top:2px;'> <span class="material-symbols-outlined" style="size:120%;">warning</span></i> <b>Service Alerts</b>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('analytics') }}" class="btn btn-primary btn-lg w-100 shadow">
                    <i style='position:relative; right:5px;top:2px;' class="fas fa-database"></i> <b>Real-Time Analytics</b>
                </a>
            </div>
        </div>
    </div>       
</main>

{% endblock %}